# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OSX Specific
.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Windows Specific
Thumbs.db
Desktop.ini
